.topper {
    background-image: url(http://i.imgur.com/udfNnq4.jpg);
    height: 100vh;
    padding-top: 40px;
    border-style: solid;
    border-color: white;
    border-width: 30px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;      
}

@media screen and (max-width: 500px) and (min-width:0px) {

    .topper{
        border-bottom-width: 15px;
    }

}

.topper h1 {
    font-family: 'Cinzel', serif;
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 2vw;
    letter-spacing: 4px;
    word-spacing: 9px;
    text-shadow: 0 0 3px white;
}

.topper h2 {
    font-family: 'Rufina', serif;
    color: white;
    font-size: 50px;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 0 0 3px white;

}



.filler1 {
    padding-top: 60vh;
}

.fa {
    display:inline-block;
    font-size: 35px;
    line-height: 50px;
    color:white;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
}

.fa:hover {
    color: gray;
}

.pics {
    border-style: solid;
    border-color: white;
    border-width: 15px;
    background-color: white;
}

.square {
    background-image: url(http://i.imgur.com/lFa1Kfk.jpg);
    padding: 20px;
    border-style: solid;
    border-color: white;
    border-width: 0px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center; 
    height: 80vh;
}


.sq1 {
    background-image: url(http://i.imgur.com/8n3oSin.jpg);
    margin-left: auto;
}

.sq2 {
    background-image: url(http://i.imgur.com/oStfxHz.jpg);
    margin: auto;
}

/*.sq3 {
    background-image: url(http://i.imgur.com/OjklFOA.jpg );
    margin: auto;
}

.sq4 {
    background-image: url(http://i.imgur.com/fGTkkeL.png);
    margin-right: auto;
}*/

.pics h1 {
    font-family: 'Cinzel', serif;
    color: white;
    font-size: 34px;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 9px;
    text-shadow: 0 0 3px white;
}

.pics p {
    font-family: 'Rufina', serif;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-shadow: 0 0 1px gray;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    height: auto;
}

.h3font {
    font-size: 2.2rem;
}

.pics h4 {
    font-family: 'Rufina', serif;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-shadow: 0 0 1px white;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.5vw;
    height: auto;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.mecircle {
    width: 200px;
	height: 200px;
	background: black;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-image: url(assets/me-bw.jpg);
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    box-shadow: 0 0 1px 2px white;
}

/*.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
*/

.projects {
    background-image: url(http://i.imgur.com/c7Fj3bQ.jpg);
    height: 100vh;
    padding-top: 30px;
    border-style: solid;
    border-color: white;
    border-width: 30px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;      
}

.projects h1 {
    font-family: 'Cinzel', serif;
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 2vw;
    letter-spacing: 4px;
    word-spacing: 9px;
    text-shadow: 0 0 3px white;
}

.projects h2 {
    font-family: 'Rufina', serif;
    color: white;
    font-size: 50px;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 0 0 3px white;

}

.contact {
    background-image: url(http://i.imgur.com/9oMH6an.jpg);
    height: 50vh;
    padding-top: 30px;
    border-style: solid;
    border-color: white;
    border-width: 15px 30px 30px 30px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;      
}

.contact h1 {
    font-family: 'Cinzel', serif;
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 2vw;
    letter-spacing: 4px;
    word-spacing: 9px;
    text-shadow: 0 0 3px white;
}

.contact h2 {
    font-family: 'Rufina', serif;
    color: white;
    font-size: 50px;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 0 0 3px white;

}

.mc {
    width: 10.5rem;
	height: 10.5rem;
	background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-image: url();
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    background-repeat: no-repeat;
    box-shadow: 0 0 1px 5px white;
}

.mc1 {
     background-image: url(https://www.brandsoftheworld.com/sites/default/files/styles/logo-thumbnail/public/012011/html5_logo-01.png);  
}

.mc2 {
    background-image: url(https://www.brandsoftheworld.com/sites/default/files/styles/logo-thumbnail/public/042015/css3.png);
}

.mc3 {
    background-image: url(https://v4-alpha.getbootstrap.com/assets/brand/bootstrap-solid.svg);
}

.mc4 {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/480px-Unofficial_JavaScript_logo_2.svg.png);
}

.mc5 {
    background-image: url(https://www.w3schools.com/angular/pic_angular.jpg);
}

.mc6 {
    background-image: url(https://vuejs.org/images/logo.png);
}

.mc7 {
    background-image: url(https://www.echosteg.com/images/blog/standard/nodejs_logo.png);
}

.mc8 {
    background-image: url(https://cdn.codementor.io/assets/tutors/c-sharp-tutors-online.png);
}

.mc9 {
    background-image: url(https://helpx.adobe.com/content/dam/help/mnemonics/ps_cc_app_RGB.svg);
}

.porte1 {
    width: 25.5rem;
	height: 18.5rem;
	background: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vh;
    margin-bottom: 2vh;
    background-image: url();
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    background-repeat: no-repeat;
    box-shadow: 0 0 1px 1px white;
}

.thumbnail:hover {
    color: black;
}

/* {
    width: 25.5rem;
	height: 18.5rem;
	background: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-image: url();
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    background-repeat: no-repeat;
}*/