.topper {
    /*background-image: url(http://i.imgur.com/udfNnq4.jpg);*/
    background-image: url(https://i.imgur.com/rF7s0tc.jpg);
    height: 100vh;
    padding-top: 40px;
    border-style: solid;
    border-color: white;
    border-width: 10px 10px 10px 10px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center;      
}

@media screen and (max-width: 500px) and (min-width:0px) {

    .topper{
        border-bottom-width: 15px;
    }

}

.topper h1 {
    font-family: 'Cinzel', serif;
    /*font-family: 'Josefin Sans', sans-serif;*/
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 2vw;
    letter-spacing: 2px;
    word-spacing: 9px;
    text-shadow: 0 0 1px white;
}

.topper h2 {
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Rufina', serif;*/
    color: white;
    font-size: 35px;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 0 0 1px white;

}

.topper h5 {
    /*font-family: 'Cinzel', serif;*/
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-shadow: 0 0 1px white;
}



.filler1 {
    padding-top: 60vh;
}

.fa {
    display:inline-block;
    font-size: 35px;
    line-height: 50px;
    color:white;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
}

.fa:hover {
    color: gray;
}

.pics {
    border-style: solid;
    border-color: white;
    border-width: 0px;
    background-color: white;
}

.square {
    /*background-image: url(http://i.imgur.com/lFa1Kfk.jpg);*/
    background-color: #696c7a;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
    padding: 20px;
    border-style: solid;
    border-color: white;
    border-width: 0px 10px 5px 10px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center; 
    /*height: 80vh;*/
}


.sq1 {
    /*background-image: url(http://i.imgur.com/mBQnEfL.jpg);*/
    margin-left: auto;
}

.sq2 {
    background-image: url(http://i.imgur.com/oStfxHz.jpg);
    margin: auto;
}

/*.sq3 {
    background-image: url(http://i.imgur.com/OjklFOA.jpg );
    margin: auto;
}

.sq4 {
    background-image: url(http://i.imgur.com/fGTkkeL.png);
    margin-right: auto;
}*/

.pics h1 {
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Cinzel', serif;*/
    color: white;
    font-size: 34px;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 9px;
    text-shadow: 0 0 1px white;
}

.pics p {
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Josefin Sans', sans-serif;*/
    /*font-family: 'Rufina', serif;*/
    color: white;
    text-align: left;
    text-shadow: 0 0 1px gray;
    padding-top: 2.3vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    height: auto;
}

.h3font {
    font-size: 1.9rem;
    text-align: center;
}

.pics h4 {
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Rufina', serif;*/
    color: #393b42;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-shadow: 0 0 1px white;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.5vw;
    height: auto;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.mecircle {
    width: 230px;
	height: 230px;
	background: black;
	-moz-border-radius: 115px;
	-webkit-border-radius: 115px;
    border-radius: 115px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-image: url(assets/mecapitol.jpg);
    background-size: 110%;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    box-shadow: 0 0 1px 2px white;
}

#langs {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    /*background-image: url(http://i.imgur.com/mBQnEfL.jpg);*/
    background-color: white;
    /*-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
    border-radius: 8px;*/
    opacity: 0.9;
    border-style: solid;
    border-color: #393b42;
    border-width: 4px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;                      /* <------ */
    background-repeat: no-repeat;
    background-position: center center; 
}

/*.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
*/

.projects {
    /*background-image: url(http://i.imgur.com/c7Fj3bQ.jpg);*/

    background-color: #6e806e;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");

    padding-top: 30px;
    padding-bottom: 50px;
    border-style: solid;
    border-color: white;
    border-width: 5px 10px 10px 10px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;      
}

.projects h1 {
    font-family: 'Josefin Sans', sans-serif;
    /*
    font-family: 'Cinzel', serif;*/
    color: white;
    font-size: 34px;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 9px;
    text-shadow: 0 0 1px white;
}

.projects h2 {
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Rufina', serif;*/
    color: white;
    font-size: 50px;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 0 0 1px white;
    max-width: 100%

}

.contact {
    /*background-image: url(http://i.imgur.com/mBQnEfL.jpg);*/
    background-color: #393b42;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
    /*background-color: #42474C;*/
    padding-top: 30px;
    border-style: solid;
    border-color: white;
    border-width: 0px 10px 10px 10px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;      
}

.contact h1 {
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Cinzel', serif;*/
    color: white;
    font-size: 34px;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 9px;
    text-shadow: 0 0 1px white;
}

.contact h2 {
    font-family: 'Rufina', serif;

    color: white;
    font-size: 50px;
    text-align: center;
    letter-spacing: 4px;
    text-shadow: 0 0 1px white;

}

.mc {
    width: 10.5rem;
    height: 10.5rem;
	background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    background-image: url();
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    background-repeat: no-repeat;
    box-shadow: 0 0 1px 5px white;
    max-width: 100%;
    max-height: 100%;
}

.box h4 {
    font-family: 'Josefin Sans', sans-serif;
    /*font-family: 'Rufina', serif;*/
    color: #393b42;
    text-align: center;
    letter-spacing: 0px;
    word-spacing: 2px;
    text-shadow: 0 0 1px white;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.5vw;
    height: auto;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.box h5 {
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Rufina', serif;*/
    color: gray;
    text-align: center;
    letter-spacing: 0px;
    word-spacing: 2px;
    text-shadow: 0 0 1px white;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.5vw;
    height: auto;
    font-size: 2.1rem;
    margin-bottom: 20px;
}
.box h6 {
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Rufina', serif;*/
    color: black;
    text-align: center;
    letter-spacing: 0px;
    word-spacing: 2px;
    text-shadow: 0 0 1px white;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.2vw;
    height: auto;
    font-size: 2.1rem;
    margin-bottom: 5px;
}

.porte1 {
	height: 25.5rem;
    background-image: url(https://i.imgur.com/EQk1WEs.jpg);
    background-size:cover;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.porte2 {
    height: 25.5rem;
    background-image: url(https://i.imgur.com/8ZDUU8t.jpg);
    background-size:cover;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.porte3 {
    height: 25.5rem;
    background-image: url(https://i.imgur.com/0Pssx7O.png);
    background-size:cover;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.porte4 {
    height: 25.5rem;
    background-image: url(http://i.imgur.com/ytfzR1n.png);
    background-size:cover;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.porte5 {
    height: 18.5rem;
    background-color:black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-image: url();
    background-size:cover;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    background-repeat: no-repeat;
    box-shadow: 0 0 1px 1px white;
    max-width: 100%;
}

.porte6 {
    height: 18.5rem;
    background-color:black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-image: url();
    background-size:cover;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    background-repeat: no-repeat;
    box-shadow: 0 0 1px 1px white;
    max-width: 100%;
}

.porte1:hover .por1 {
    opacity: 1;
  }
  
.porte2:hover .por2 {
    opacity: 1;
  }

.porte3:hover .por3 {
    opacity: 1;
  }

.porte4:hover .por4 {
    opacity: 1;
  }

.por1 {
    height: 25rem;
    background-size:cover;
    border-style: solid;
    border-color: white;
    border-width: -2px;
    opacity: 0;
    transition: .3s ease;
    background-color: white;

}

.por2 {
    height: 25rem;
    background-size:cover;
    border-style: solid;
    border-color: white;
    border-width: -2px;
    opacity: 0;
    transition: .3s ease;
    background-color: white;
}

.por3 {
    height: 25rem;
    background-size:cover;
    border-style: solid;
    border-color: white;
    border-width: -2px;
    opacity: 0;
    transition: .3s ease;
    background-color: white;
}

.por4 {
    height: 25rem;
    background-size:cover;
    border-style: solid;
    border-color: white;
    border-width: -2px;
    opacity: 0;
    transition: .3s ease;
    background-color: white;
}

.por5 {
    display: none;
    opacity: 0;
    animation: fade 1s infinite;

    width: 25.5rem;
	height: 17.5rem;
	background: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    background-image: url();
    background-size: 100%;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    background-repeat: no-repeat;
    box-shadow: 0 0 1px 1px black;
    max-width: 100%;
}

.por6 {
    display: none;
    opacity: 0;
    animation: fade 1s infinite;

    width: 25.5rem;
	height: 17.5rem;
	background: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    background-image: url();
    background-size: 100%;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    background-repeat: no-repeat;
    box-shadow: 0 0 1px 1px black;
    max-width: 100%;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.thumbnail:hover {
    color: black;
}

.contact h4 {
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Rufina', serif;*/
    color: white;
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-shadow: 0 0 1px white;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    height: auto;
    font-size: 2.2rem;
    margin-bottom: 20px;
    max-width: 100%;
}

/* {
    width: 25.5rem;
	height: 18.5rem;
	background: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-image: url();
    background-size: 100%;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    background-repeat: no-repeat;
}*/

.meinfo {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

#langstwo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: gray;
    /*-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
    border-radius: 8px;*/
    opacity: 0.9;
    border-style: solid;
    border-color: white;
    border-width: 4px;
}

.langimgs {
    padding: 2px;
    transition: 1s ease;
}

.langimgs:hover {
    padding: 10px;
    transition: 1s ease;
}

.endmessage {
    padding-bottom: 30px;
    font-style: italic;
}

a {
    color: #fff !important;
}